<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<style>
    label{
        display:flex;
    }
    button{
        height:50px;
        width: 50px;
    }
</style>
<body>
    <h2>ADD A NEW USER</h2>
    <a href="/">Home</a>
    <form action="/create_user" method="post">
        <label for='first_name'>First Name:</label>
        <input type='text' name='first_name'>
        <label for='last_name'>Last Name:</label>
        <input type='text' name='last_name'>
        <label for='email'>Email:</label>
        <input type='text' name='email'>
        <button>Create</button>
    </form>
</body>
</html>